[submodule "AdaptiveIntelligence"]
	path = AdaptiveIntelligence
	url = git@github.com:Klodivio355/AdaptiveIntelligence
[submodule "Fairness_Clustering"]
	path = Fairness_Clustering
	url = git@github.com:Klodivio355/Fairness_Clustering
[submodule "COM4520-Multimodal-Pneumonia-Etiology-Classification"]
	path = COM4520-Multimodal-Pneumonia-Etiology-Classification
	url = git@github.com:Klodivio355/COM4520-Multimodal-Pneumonia-Etiology-Classification
[submodule "Software_Testing"]
	path = Software_Testing
	url = git@github.com:Klodivio355/Software_Testing.git
[submodule "ML_module"]
	path = ML_module
	url = git@github.com:Klodivio355/ML_module.git
