[submodule "AdaptiveIntelligence"]
	path = AdaptiveIntelligence
	url = git@github.com:Klodivio355/AdaptiveIntelligence
[submodule "Fairness_Clustering"]
	path = Fairness_Clustering
	url = git@github.com:Klodivio355/Fairness_Clustering
[submodule "ML_module"]
	path = ML_module
	url = git@github.com:Klodivio355/ML_module.git
[submodule "VoiceActivityDetection"]
	path = VoiceActivityDetection
	url = git@github.com:Klodivio355/VoiceActivityDetection.git
